<%= content_for :title, @user.username %>

<h1>Tweets by <%= @user.username %>
                <% if current_user != @user %>
                  <%= form_for @relationship, url: relationships_path, method: "post" do |f| %>
                    <%= f.hidden_field :followed_id, value: @user.id %>
                    <%= f.hidden_field :follower_id, value: current_user.id %>
                    <%= f.submit "Follow", class: "btn btn-info" %>
                  <% end %>
                <% end %>
              </h1>

<% if current_user == @user %>
  <%= form_for @tweet, url: tweets_path, method: "post", remote: true do |f| %>
    <%= f.submit "Tweet", class: "btn btn-primary" %>
    <%= f.text_field :content, placeholder: "Tweet something!", class: "big-rounded-corners" %>
    <%= f.hidden_field :user_id, value: @user.id %>
  <% end %>
<% end %>

<div class="col-md-3">
  <h4>Followers</h4>
  <% @user.followers.each do |follower| %>
    <%= follower.username %>
  <% end %>
  <br/>
  <h4>Following</h4>
  <% @user.followed_users.each do |followed| %>
    <%= followed.username %>
  <% end %>

</div>

<div id="tweets" class="col-md-6">
  <% @user.tweets.order(created_at: :desc).each do |tweet| %>
    <div class="row">
      <span class="tweetcontent"><%= tweet.content %></span><br/>
      <span class="tweetdatetime"><%= tweet.created_at.strftime("%l:%M %p, %D") %></span>
    </div>
  <% end %>
</div>

