<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | Twitter Clone" : "Twitter Clone" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar navbar-default navbar-fixed-top">
    <%= link_to "Home", root_url, class: "navbar-text pull-left" %>
    <div class="navbar-text">
      <div class="center-bold">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    </div>
    <% if current_user %>
      <%= link_to "Log Out", session_path("current"), method: "delete", class: "navbar-text pull-right" %>
      <div class="navbar-text pull-right">
       Logged in as &nbsp;<%= link_to current_user.username, user_path(current_user) %>
      </div>
    <% else %>
      <%= link_to "Log In", new_session_path, class: "navbar-text pull-right" %>
      <%= link_to "Sign Up", new_user_path, class: "navbar-text pull-right" %>
    <% end %>
  </div>

  <div id="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
